body {
    font-family: Poppins, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.nav {
    margin-top: 58px;
}
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}

.nav .container {
    display: flex;
    text-align: center;
}

.nav .brand {
    width: 20%;
}
.nav .menu {
    width: 60%;
}


.nav .cties {
    width : 20%;
}

.nav .brand {
    font-size: 22px;
    font-weight: 600;
}

/* .nav .menu .menu-list {
    margin: 0 20px;
} */
.nav .cties{
    text-align: right;
}
.nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav .menu .menu-list {
    color : #000;
    text-decoration: none;
    opacity: 0.8;
}

.nav .menu .menu-list:hover {
    opacity: 1;
    font-weight: 400;
}

.nav .menu-list-active {
    opacity: 1;
    font-weight: 600;
}


.nav .sign-up {
    padding: 10px 25px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #000;

}
 .hero {
    width: 635px ;
    padding: 135px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 0 auto;
    
}

.hero-ctas {
    margin: 40px;
    display: flex;
    gap: 20px;
}

.hero-headline,
.hero-subheadline{
    text-align: center;
}

.hero-headline {
    font-size: 36px;
    font-weight: 600;
    margin: 0;

}

.hero-subheadline {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.60);
    line-height: 32px;
    font-weight: 400;
    width: 553px;
}

.cta-primary {
    display: inline-block;
    border-radius: 100px;
    background: #001AFF;
    color: #fff;
    text-decoration: none;
    padding: 12px 17px;
    box-shadow: 0px 15px 30px 0px rgba(0, 26, 255, 0.20)
}

.cta-secondary {
    display: inline-block;
    padding: 12px 17px;
    color: #001AFF;
    font-size: 16px;
    font-weight: 600;
}

 .jobs-headline {
    font-weight: 600px;
    margin: 0 0 17 0px;
   
}

.jobs-list {
    display: flex;
    flex-wrap: wrap; /* Ini memastikan item dapat beralih ke baris berikutnya jika tidak ada ruang */
    justify-content: space-between; 
}


.job {
    box-sizing: border-box;
    flex: 1; /* Ini memberi elemen kemampuan untuk tumbuh sesuai dengan ruang yang tersedia */
    max-width: calc(33.33% - 20px); /* Lebar maksimum dengan mengurangi sedikit margin */
    margin: 10px;
    padding: 25px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 30px 60px 0px rgba(0, 26, 255, 0.10);
}

.job:hover {
    background: #001AFF;
}

.job:hover .job-title,
.job:hover .job-company,
.job:hover .job-description,
.job:hover .job-tags,
.job:hover .job-salary {
    color: #fff; /* Mengubah warna teks menjadi putih saat elemen .job dihover */
}


.job-header {
    display: flex;
    align-items: center;
}

.job-logo {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
}

.job-meta {
    margin-left: 13px;
}

.job-title {
    font-size: 18px;
    margin: 0 0 5px 0;
    color: #000;
}

.margin-company {
    font-size: 14px;
    margin: 0;
}

.job-description {
    margin: 17px 0;
    color : rgba(0,0,0,0.8);
    line-height: 25px;
}

.job-divider {
    margin: 25px 0;
    border-color: rgba(255, 255, 255, 0.55);
}

.job-footer {
 display: flex;
 align-items: center;
}

.job-tags {
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(0,0,0,0.07);
    color: #000;
}

.job-salary {
    margin-left: auto;
    font-weight: 600;
    font-size: 14px
}